.defaultContainer {
  margin-left: 290px;
  padding: 0;
  height: 100vh;
  overflow-y: hidden;
}
html {
  overflow-y: hidden;
  scroll-behavior: smooth;
}
body {
  scroll-behavior: smooth;
}
.footer {
  width: calc(100% - 290px);
}
@media screen and (max-width: 768px) {
  .defaultContainer {
    margin-left: 80px;
  }
  .footer {
    width: calc(100% - 80px);
  }
}
