.defaultContainer {
  margin-left: 290px;
  padding: 0;
  height: 100vh;
  overflow-y: hidden;
}
html {
  overflow-y: hidden;
  scroll-behavior: smooth;
}
body {
  scroll-behavior: smooth;
}
.footer {
  width: calc(100% - 290px);
}

@media screen and (max-width: 1025px) {
  .defaultContainer {
    margin-left: 200px;
  }
  .footer {
    width: calc(100% - 100px);
  }
}
@media screen and (max-width: 900px) {
  .defaultContainer {
    margin-left: 200px;
  }
  .footer {
    width: calc(100% - 80px);
  }
}
@media screen and (max-width: 766px) {
  .defaultContainer {
    margin-left: 50px;
  }
  .footer {
    width: 100%;
  }
}
