@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Manrope", sans-serif;
}
